.Workform{
	display:none;
	position:absolute;
	z-index:10;
	top: 10%;
    left: 30%;
    background-color: #ffffff ;
	height:580px;
	width:550px;
	border-radius:5px;
}
.workname{
	padding-left:10px;
	margin-top:20px;
	border-radius:10px;
	height:30px;
	width:90%;
	font-size:20px;
	border:2px solid #00a1d6;
	padding-right:10px;
	}
	.time{
	padding-left:10px;
	margin-top:20px;
	border-radius:10px;
	height:30px;
	width:90%;
	font-size:20px;
	border:2px solid #00a1d6;
	padding-right:10px;
	}
.inputarea {
	margin-left:30px;
	position: relative;
	overflow: hidden;
	width: 80%;
	height: 152px;
	border: solid 2px #00a1d6;
	border-radius:5px;
	resize: none;
	padding-top: 14px;
	padding-left: 15px;
}
#overDiv{
	display:none;
	background-color: #000;
	width: 100%;
	height: 100%;
	left:0;
	top:0;/*FF IE7*/
	filter:alpha(opacity=40);/*IE*/
	background-color:rgba(255,255,255,0.4);/*FF*/
	z-index:1;
	position:fixed!important;/*FF IE7*/
	position:absolute;/*IE6*/
	
}